<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-suffix-2">
            <h4 class="result-message"><span><%= pluralize(@companies.count,"company") %></span> to follow your dream</h4>
        </div>
    </div>
    <div class="row offer-item">
        <% @companies.each do |company| %>
            <div class="center-block col-xs-12 col-lg-3 col-md-3 col-sm-6 img-responsive">
                <% #TODO move this to helper %>
                <%= link_to image_tag(company[:logo_url],title: company[:name] + ' - ' + company[:short_pitch]), company[:website_url]  %>
            </div>
        <% end %>
    </div>
</div>
