@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "offer";

body {
    background: $deep_grey;
    font-family: "Raleway";
    font-size: 1.2em;
    color:$text_color;
}

header {
    color: #D6AB4E;
    height: 10em;
    .header-info {
        margin-top: 2.5em;
    }
    img {
        width: 18em;
        float:left;    
        display:block;
    }
}

#main-container {
    margin-top: 0.5em;
    text-align: center;
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
}

#response-block {
    background: white;
    color: $deep_grey;
    .container {
        padding-top: 6em;
    }
}

footer {
    background:black;
    color:pink;
    clear:both;
    min-height:5em;
    line-height:5em;
}
