@font-face {
  font-family: 'Raleway';
  src:url('Raleway-SemiBold.eot');
  src:url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Raleway-SemiBold.svg#icomoon') format('svg'),
    url('Raleway-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:url('Raleway-ExtraBold.eot');
  src:url('Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Raleway-ExtraBold.svg#icomoon') format('svg'),
    url('Raleway-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:url('Raleway-Italic.eot');
  src:url('Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('Raleway-Italic.svg#icomoon') format('svg'),
    url('Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
