<header>
    <div class="container">
        <div class="row header-info">
            <div class="col-xs-2">
                <%= image_tag "logo.png" %>
            </div>
        </div>
    </div>
</header>
